<!DOCTYPE html>
<html>
<head>
    <title>Edit</title>
</head>
<body>
    <h1>Edit product</h1>
    <form method="POST">
        <label>Name:</label><br>
        <input type="text" name="name" value="{{ product.name }}"><br><br>

        <label>Description:</label><br>
        <textarea name="description">{{ product.description }}</textarea><br><br>

        <label>Price (so'm):</label><br>
        <input type="number" name="price" value="{{ product.price }}" step="0.01"><br><br>

        <button type="submit">Save</button>
    </form>
</body>
</html>
